@use "../../../styles/functions/font";
@use "../../../styles/functions/common";
@use "../../../styles/variables/colors";
@use "../../../styles/mixins/layout";
@use "../../../styles/mixins/common" as mixins;


.messenger {
  position: fixed;
  bottom: 110px;
  right: common.toPercent(50);
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background: colors.$primary;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 10px rgba(137, 137, 137, 0.2));
  transition: none;

  svg {
    width: 55%;
    position: relative;
    top: 3px;
  }

  &:hover {
    transform: rotate(15deg);
  }

  z-index: 50;

  @include layout.before-sm {
    bottom: 80px;
    width: 65px;
    height: 65px;
    svg {
      top: 2px;
    }
  }
}
