@use "../../../styles/functions/font";
@use "../../../styles/functions/common";
@use "../../../styles/variables/colors";
@use "../../../styles/mixins/layout";
@use "../../../styles/mixins/common" as mixins;


.messenger {
  position: fixed;
  bottom: 50px;
  right: common.toPercent(100);
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background: colors.$primary;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 10px rgba(137, 137, 137, 0.2));

  svg {
    position: relative;
    top: 3px;
  }

  &:hover{
    transform: rotate(15deg);
  }
}
