@use "../../../styles/functions/font";
@use "../../../styles/functions/common";
@use "../../../styles/variables/colors";
@use "../../../styles/mixins/layout";
@use "../../../styles/mixins/common" as mixins;

.header {
  margin-top: 0;
  min-height: 50px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 5px 5px;

  .block__content {
    display: flex;
    align-items: center;
  }
}

.header_logo {
  margin-right: common.toRem(110);
}

.header__nav-menu {
  font-weight: 600;
  font-size: font.toRem(16);
  color: colors.$alt-primary-btn;
  margin-right: common.toRem(110);

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-menu__item {
  margin-right: common.toRem(40);
  @include mixins.blueTextHover;
}

.try-free-btn_header {
  margin-top: 0;
  padding: common.toRem(5) common.toRem(10);
  font-size: font.toRem(16);
  border-radius: 5px;
  margin-right: common.toRem(110);
  font-weight: 600;
}

.last-header-btn {
  margin-left: auto;
  display: flex;
  align-items: center;

  button {
    font-weight: 600;
    font-size: font.toRem(16);
    color: colors.$alt-primary-btn;
    margin-right: common.toRem(40);

    &:last-of-type {
      margin-right: 0;
    }

    @include mixins.blueTextHover;
  }
}

.header__contacts {
  a {
    filter: drop-shadow(0px 4px 10px rgba(118, 118, 118, 0.2));

    &:hover {
      path {
        fill: colors.$primary;
      }
    }
  }
}
