section.block.faq
    .block__content
        .anchor(id='faq')
        p.standard-title.faq__title(data-lang-fqt) Часто задаваемые вопросы
        .faq__list-wrapper
            ul.faq__list
                each num in [0,1,2,3,4,5,6]
                    li.faq__list-item
                        details
                            summary
                                span(data-lang-fqq) Вопрос
                                | &nbsp !{num + 1}
                            p.faq__list-item-description
                                span(data-lang-fqa) Ответ
                                | &nbsp !{num + 1}
            button.faq__more-btn
                img(src="./images/icons/sprite.svg#arrow")
