@use "../../../styles/functions/font";
@use "../../../styles/functions/common";
@use "../../../styles/variables/colors";
@use "../../../styles/mixins/layout";
@use "../../../styles/mixins/common" as mixins;

.top-block {
  margin-top: common.toRem(130);

  .block__content {
    display: flex;
    justify-content: space-between;
  }

  @include layout.before-md {
    margin-top: common.toRem(88);
    .block__content {
      flex-flow: column;
      align-items: center;
    }
  }
}

.top-block__description {
  width: common.toPercent(610);
  @include layout.before-md {
    width: 100%;
  }
}

.top-block__title {
  font-weight: 700;
  font-size: font.toRem(80);
  color: colors.$primary;
  @include layout.before-sm {
    font-size: font.toRem(50);
  }
}

.top-block__subtitle {
  margin-top: common.toRem(30);
  font-weight: 500;
  font-size: font.toRem(24);
  color: colors.$text;

  @include layout.before-sm {
    font-size: font.toRem(14);
  }
}

.top-block__quote {
  margin-top: common.toRem(30);
  @include layout.before-sm {
    font-size: font.toRem(12);
    padding: common.toRem(12);
  }
}

.top-block__img {
  max-width: common.toRem(609);
  width: common.toPercent(609);
  position: relative;
  @include layout.before-md {
    width: common.toRem(609);
    margin-top: common.toRem(55);
  }
  @include layout.before-sm {
    width: 115%;
  }
}

.top-block__img-wrapper {
  position: absolute;
  width: common.toRem(177);
  right: common.toRem(35);
  bottom: common.toRem(-20);
  @include layout.before-md {
    width: common.toRem(99);
    right: common.toRem(5);
  }
  @include layout.before-sm {
    right: common.toRem(10);
    bottom: common.toRem(20);
  }
}

.top-block__try-free-btn {
  @include layout.before-sm {
    margin-top: common.toRem(20);
    font-size: font.toRem(14);
    padding: common.toRem(15);
  }
}
