@use "../../../styles/functions/font";
@use "../../../styles/functions/common";
@use "../../../styles/variables/colors";
@use "../../../styles/mixins/layout";
@use "../../../styles/mixins/common" as mixins;

.top-block {
  margin-top: common.toRem(130);

  .block__content {
    display: flex;
    justify-content: space-between;
  }

  @include layout.before-md {
    margin-top: common.toRem(88);
    .block__content {
      flex-flow: column;
    }
  }
}

.top-block__description {
  width: common.toPercent(610);
  @include layout.before-md {
    width: 100%;
  }
}

.top-block__title {
  font-weight: 700;
  font-size: font.toRem(80);
  color: colors.$primary;
}

.top-block__subtitle {
  margin-top: common.toRem(30);
  font-weight: 500;
  font-size: font.toRem(24);
  color: colors.$text;
}

.top-block__quote {
  margin-top: common.toRem(30);
}

.top-block__img {
  width: common.toPercent(609);
  position: relative;
  @include layout.before-md {
    width: 100%;
    margin-top: common.toRem(55);
  }
}

.top-block__img-wrapper {
  position: absolute;
  width: common.toRem(177);
  right: common.toRem(35);
  bottom: common.toRem(-20);
  @include layout.before-md {
    width: common.toRem(99);
    right: common.toRem(5);
  }
}
