section.block.top-block
    .block__content
        .top-block__description
            p1.title.top-block__title TeleWeber
            p.top-block__subtitle Парсинговый сервис
                br
                | для автоматического сбора информации
                br
                | по ключевым словам в Телеграм
            p.quote.top-block__quote Сервис позволяет решать задачи привлечения новых клиентов
                br
                | и мониторинга репутации.
                br
                | Итоговый результат формируется в удобном виде в Телеграм.
            button.standard-btn.try-free-btn Попробовать бесплатно
        .top-block__img
            img(src="./images/content/site-frame.png")
            .top-block__img-wrapper
                img(src="./images/content/phone.png")
