@use "../../../styles/functions/font";
@use "../../../styles/functions/common";
@use "../../../styles/variables/colors";
@use "../../../styles/mixins/layout";
@use "../../../styles/mixins/common" as mixins;


.tariffs-block {
  .block__content {
    max-width: common.toRem(1064);
    margin: 0 auto;
  }
  @include layout.before-md {
    .block__content {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
  }
}

.tariffs-block__title {
  text-align: center;
}

.tariffs-block__list {
  margin-top: common.toRem(40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include layout.before-md {
    margin-top: common.toRem(25);
  }
}

.tariffs-block__list-item {
  white-space: nowrap;
  width: common.toRem(290);
  height: common.toRem(290);
  padding: common.toRem(40);
  background: #4AA8FF;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 700;

  p:first-of-type {
    font-size: font.toRem(20);
  }

  p:last-of-type {
    font-size: font.toRem(75);
  }

  &.active {
    width: common.toRem(320);
    height: common.toRem(320);
    padding: common.toRem(50);
    background: linear-gradient(134.36deg, #1D92FF 21.95%, #7BC0FF 46.21%, #1D92FF 62.69%);
    border-radius: 11px;
  }

  @include layout.before-md {
    padding: common.toRem(20);
    width: common.toRem(144);
    height: common.toRem(152);
    white-space: unset;
    margin-right: -10px;
    p:first-of-type {
      font-size: font.toRem(14);
      text-align: center;
    }
    p:last-of-type {
      font-size: font.toRem(23);
    }

    &.active {
      width: common.toRem(144);
      height: common.toRem(191);
      border: 1px solid #7AC0FF;
      padding: common.toRem(25);
      margin-right: 0;
      z-index: 5;
    }
  }
}

.tariffs-block__list-item_dark {
  background: #0071DA;
  @include layout.before-md {
    margin-right: 0;
    margin-left: -10px;
  }
}

.tariffs-block__list-item-btn {
  background: white;
  width: common.toRem(117);
  height: common.toRem(62);
  @include mixins.scaleHover;
  @include layout.before-md {
    width: common.toRem(84);
    height: common.toRem(38);
    font-size: font.toRem(15);
  }
}
