section.block.tariffs-block
    .block__content
        p.standard-title.tariffs-block__title Выберите подходящий тариф
        ul.tariffs-block__list
            li.tariffs-block__list-item
                p Подписка на неделю
                p 25$
                button.standard-btn.tariffs-block__list-item-btn КУПИТЬ
            li.tariffs-block__list-item.active
                p Подписка на месяц
                p 50$
                button.standard-btn.tariffs-block__list-item-btn КУПИТЬ
            li.tariffs-block__list-item.tariffs-block__list-item_dark
                p Подписка на полгода
                p 200$
                button.standard-btn.tariffs-block__list-item-btn КУПИТЬ
