section.block.tariffs-block
    .block__content
        .anchor(id='prices')
        p.standard-title.tariffs-block__title(data-lang-tbt) Выберите подходящий тариф
        ul.tariffs-block__list
            li.tariffs-block__list-item
                .glow-wrap
                    span.glow
                p(data-lang-tct-w) Подписка на неделю
                p 25$
                button.standard-btn.tariffs-block__list-item-btn(data-lang-tbtnbuy) КУПИТЬ
            li.tariffs-block__list-item.active
                .glow-wrap
                    span.glow
                p(data-lang-tct-m) Подписка на месяц
                p 50$
                button.standard-btn.tariffs-block__list-item-btn(data-lang-tbtnbuy) КУПИТЬ
            li.tariffs-block__list-item.tariffs-block__list-item_dark
                .glow-wrap
                    span.glow
                p(data-lang-tct-h) Подписка на полгода
                p 200$
                button.standard-btn.tariffs-block__list-item-btn(data-lang-tbtnbuy) КУПИТЬ
