extends ../views/layouts/default
block variables
	- const title = "Teleweber"

block content
	include ../blocks/components/main-bg/index
	include ../blocks/modules/top-block/index
	include ../blocks/modules/target-audience/index
	include ../blocks/modules/service-description/index
	include ../blocks/modules/quote-standalone/index
	include ../blocks/modules/video-block/index
	include ../blocks/modules/cases-block/index
	include ../blocks/modules/tariffs-block/index
	include ../blocks/modules/subscription-description/index
	include ../blocks/modules/quote-standalone/index
	include ../blocks/modules/faq/index
	include ../blocks/modules/another-questions/index
