@use "../../../styles/functions/font";
@use "../../../styles/functions/common";
@use "../../../styles/variables/colors";
@use "../../../styles/mixins/layout";
@use "../../../styles/mixins/common" as mixins;

.service-description__title_center {
  text-align: center;
}

.service-description__after-text {
  margin-top: common.toRem(47);
  font-style: italic;
  font-weight: 500;
  font-size: font.toRem(18);
  text-align: center;
  color: colors.$alt-primary-btn;
  @include layout.before-sm {
    margin-top: common.toRem(22);
    font-size: font.toRem(12);
    font-weight: 400;
    width: common.toRem(230);
    margin-left: common.toRem(-25);
    text-align: left;
  }
}
