-
    const subscriptionDescriptionData = [
        {
            "imgSrc": "./images/icons/sprite.svg#s-descr7",
            "description": "Бесплатная техподдержка"
        }, {
            "imgSrc": "./images/icons/sprite.svg#s-descr8",
            "description": "Готовые ключевые слова <br> под Вашу сферу деятельности"
        }, {
            "imgSrc": "./images/icons/sprite.svg#s-descr9",
            "description": "Первичная настройка <br> и запуск парсинга на 300 чатов"
        }
    ]

section.block.service-description
    .block__content
        p.standard-title.service-description__title.service-description__title_center Что входит в стоимость подписки
        ul.service-description__list.service-description__list_1p
            each listItem in subscriptionDescriptionData
                li.service-description__list-item
                    .service-description__list-item-img-wrapper
                        img(src=`${listItem.imgSrc}`)
                    .service-description__list-item-text-block
                        p(hidden)
                        p !{listItem.description}
        p.service-description__after-text Стоимость подписки на дополнительные 300 чатов - 5$
