$title-dark: #222;
$text: #404040;
$primary: #0085ff;
$primary-dark: #0088CC;
$primary-light: #CEE8FF;
$alt-primary: #D8D8D8;
$alt-primary-btn: #808080;
$alt-primary-light: #EFF7FF;
$alt2-dark: #6677A2;
$alt2-light: #B6C2E2;
$yes: #34C800;
$no: #FF2E00;
$draft: #999999
