section.block.video-block
    .block__content
        p.standard-title.video-block__title Функционал сервиса
        .video-block__video-wrapper
            video.video-block__video(poster='./images/content/video-poster.png')
                source
            button.video-block__play-btn
                <svg viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="45.462" cy="44.6456" r="44.5069" fill="#0085FF"/>
                <path d="M61.69 43.8847C62.5189 44.3552 62.5189 45.5497 61.6899 46.0202L38.2405 59.3293C37.422 59.7938 36.4067 59.2026 36.4067 58.2615L36.4067 31.6434C36.4067 30.7022 37.422 30.111 38.2405 30.5756L61.69 43.8847Z" fill="white"/>
                </svg>
