section.block.quote-standalone
    .block__content
        .quote-standalone__quote-wrapper
            p.quote-standalone__text
                | Протестируйте поисковой сервис TeleWeber в действии! Бесплатный демо-доступ на сутки
            button.standard-btn.quote-standalone__btn Получить
            <svg width="51" height="31" viewBox="0 0 51 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.69268 31H51L19.5 0C20.3925 17.4036 14.3152 21.7005 3.93406 28.4337C2.75837 29.1962 3.29135 31 4.69268 31Z" fill="#D9D9D9"/>
            </svg>

