@use "../../../styles/functions/font";
@use "../../../styles/functions/common";
@use "../../../styles/variables/colors";
@use "../../../styles/mixins/layout";
@use "../../../styles/mixins/common" as mixins;

.another-questions {

}

.another-questions__title {
  text-align: center;
}

.another-questions__subtitle {
  margin-top: common.toRem(15);
  font-weight: 500;
  font-size: font.toRem(18);
  color: colors.$text;
  text-align: center;
}

.another-questions__btn {
  margin: common.toRem(40) auto 0;
  background: colors.$primary-dark;
  font-weight: 600;
  font-size: font.toRem(24);
  color: white;
  text-transform: none;

  &::after {
    display: block;
    width: 25px;
    height: 25px;
    content: '';
    background: white;
    -webkit-mask: url(../images/icons/sprite.svg#telegram) center no-repeat;
    -webkit-mask-size: contain;
    margin-left: 5px;
  }

  @include mixins.scaleHover;
}
