section.block.another-questions
    .block__content
        .anchor(id='contacts')
        p.standard-title.another-questions__title Остались вопросы?
        p.another-questions__subtitle Расскажем, чем будет полезен сервис вашему бизнесу
        button.standard-btn.another-questions__btn Напишите нам в Телеграм
