section.block.another-questions
    .block__content
        p.standard-title.another-questions__title Остались вопросы?
        p.another-questions__subtitle Остались вопросы?
        button.standard-btn.another-questions__btn Напишите нам в Телеграм
