section.block.another-questions
    .block__content
        .anchor(id='contacts')
        p.standard-title.another-questions__title(data-lang-aqt) Остались вопросы?
        p.another-questions__subtitle(data-lang-aqd) Расскажем, чем будет полезен сервис вашему бизнесу
        button.standard-btn.another-questions__btn(data-lang-aqbtn) Напишите нам в Телеграм
