footer.block.footer
	.block__content
		nav.nav-menu.footer__nav-menu
			ul
				li.nav-menu__item
					a(href="#") Партнёрам
		nav.footer__contacts.contacts
			a(href="#") Контакты
			a(href="#")
				<svg width="25" height="21" viewBox="0 0 25 21" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M2.4082 9.16081C9.79336 6.05498 19.3503 2.26833 20.6695 1.74423C24.13 0.37248 25.1918 0.635371 24.6624 3.67323C24.2822 5.85669 23.1851 13.0856 22.3108 17.5851C21.7919 20.2534 20.6278 20.5696 18.7974 19.4153C17.9172 18.8597 13.4742 16.051 12.5099 15.3916C11.6297 14.7905 10.4156 14.0676 11.9382 12.6436C12.4799 12.1363 16.0315 8.89455 18.7986 6.37124C19.1611 6.03982 18.7057 5.4955 18.2874 5.7612C14.5578 8.12554 9.38673 11.4072 8.7286 11.8347C7.73435 12.4801 6.77948 12.7761 5.0654 12.3054C3.77029 11.9498 2.50515 11.5257 2.01273 11.3639C0.116495 10.7415 0.566608 9.93544 2.4082 9.16081Z" fill="#808080"/>
				</svg>
			a(href="#")
				<svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19.0609 0.380005H2.82101C1.70451 0.380005 0.791016 1.2935 0.791016 2.41V14.5899C0.791016 15.7064 1.70451 16.6199 2.82101 16.6199H19.0609C20.1774 16.6199 21.0909 15.7064 21.0909 14.5899V2.41C21.0909 1.2935 20.1774 0.380005 19.0609 0.380005ZM18.6549 4.69373L12.0169 8.84507C11.3571 9.26121 10.5248 9.26121 9.86507 8.84507L3.227 4.69373C2.97326 4.53134 2.82101 4.25729 2.82101 3.96294C2.82101 3.28289 3.56195 2.87689 4.1405 3.23214L10.941 7.48497L17.7414 3.23214C18.32 2.87689 19.0609 3.28289 19.0609 3.96294C19.0609 4.25729 18.9087 4.53134 18.6549 4.69373Z" fill="#808080"/>
				</svg>
