@use "../functions/font";
@use "../variables/colors";

@mixin blueTextHover {
  &:hover {
    color: colors.$primary;
  }
}

@mixin fromWhiteToBlueHover {
  &:hover {
    background: colors.$primary;
    color: white;
  }
}

@mixin scaleHover {
  &:hover {
    transform: scale(1.1);
  }
}
