@use "../../../styles/functions/font";
@use "../../../styles/functions/common";
@use "../../../styles/variables/colors";
@use "../../../styles/mixins/layout";
@use "../../../styles/mixins/common" as mixins;


.cookie {
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  background: white;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: common.toRem(12) common.toRem(40);
  z-index: 100;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: hidden;
  max-width: common.toRem(983);
  width: 100%;

  &.active{
    display: flex;
  }

  svg{
    position: absolute;
    right: 0;
    top: 0;
  }

  @include layout.before-sm {
    flex-flow: column;
    bottom: 0;
  }
}

.cookie__description {
  margin-right: common.toRem(50);
  p:first-of-type {
    font-weight: 600;
    font-size: font.toRem(24);
    color: colors.$title-dark;
  }

  p:last-of-type {
    margin-top: common.toRem(5);
    font-weight: 500;
    font-size: font.toRem(18);
    color: colors.$alt-primary-btn;
  }
}

.cookie__btn {
  width: common.toRem(182);
  color: white;
  background: colors.$primary;
  position: relative;
  @include mixins.scaleHover;
  @include layout.before-sm {
    margin-top: common.toRem(10);
  }
}
