.popup.cookie.active
    <svg width="58" height="42" viewBox="0 0 58 42" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_900_3679)">
    <path d="M56.5847 16.9912C56.2401 17.0421 55.8878 17.069 55.5291 17.069C52.2268 17.069 49.4319 14.8988 48.4732 11.9013C48.3093 11.3889 53.2787 2.60066 52.7524 2.5C47.2683 1.45104 47.2524 2.81482 47.2524 -3C47.2524 -10.9348 40.9597 -8.21868 39.2462 -8.55949C37.7982 -8.84757 36.3017 -9 34.7695 -9C22.0759 -8.99991 11.7856 1.3376 11.7856 14.0897C11.7856 26.8417 22.0759 37.1794 34.7695 37.1794C46.2096 37.1794 55.6693 28.8137 57.4484 17.823C57.5292 17.3243 57.0821 16.9179 56.5847 16.9912Z" fill="#F5B97D"/>
    <path d="M24.3893 9.62033C26.0271 9.62033 27.3547 8.28654 27.3547 6.64122C27.3547 4.9959 26.0271 3.66211 24.3893 3.66211C22.7515 3.66211 21.4238 4.9959 21.4238 6.64122C21.4238 8.28654 22.7515 9.62033 24.3893 9.62033Z" fill="#CD916E"/>
    <path d="M25.8717 23.7722C27.1001 23.7722 28.0959 22.7718 28.0959 21.5377C28.0959 20.3036 27.1001 19.3032 25.8717 19.3032C24.6433 19.3032 23.6475 20.3036 23.6475 21.5377C23.6475 22.7718 24.6433 23.7722 25.8717 23.7722Z" fill="#CD916E"/>
    <path d="M48.1147 21.5379C47.8424 21.5379 47.581 21.3874 47.4507 21.1262L46.7093 19.6365C46.5262 19.2685 46.6746 18.8212 47.041 18.6371C47.4066 18.4538 47.8519 18.6022 48.0358 18.9703L48.7772 20.4599C48.9604 20.828 48.812 21.2753 48.4456 21.4594C48.3391 21.5125 48.2262 21.5379 48.1147 21.5379Z" fill="#A06E50"/>
    <path d="M39.9592 17.0692C39.687 17.0692 39.4255 16.9186 39.2953 16.6574C39.1121 16.2893 39.2605 15.8421 39.6269 15.658L41.1097 14.9131C41.4761 14.7306 41.9206 14.8782 42.1046 15.2463C42.2877 15.6144 42.1393 16.0617 41.7729 16.2458L40.2901 16.9906C40.1836 17.0437 40.0707 17.0692 39.9592 17.0692Z" fill="#B67F5F"/>
    <path d="M19.9413 15.5796C19.6691 15.5796 19.4077 15.4291 19.2774 15.1679L18.536 13.6782C18.3528 13.3101 18.5012 12.8629 18.8676 12.6788C19.2333 12.4962 19.6785 12.6439 19.8625 13.012L20.6039 14.5016C20.7871 14.8697 20.6386 15.317 20.2722 15.501C20.1658 15.5542 20.0528 15.5796 19.9413 15.5796Z" fill="#B67F5F"/>
    <path d="M29.5798 28.9865C29.3076 28.9865 29.0461 28.8359 28.9159 28.5747C28.7327 28.2066 28.8811 27.7594 29.2475 27.5753L30.7303 26.8305C31.0967 26.6472 31.5412 26.7956 31.7252 27.1636C31.9083 27.5317 31.7599 27.979 31.3935 28.1631L29.9107 28.9079C29.8042 28.961 29.6913 28.9865 29.5798 28.9865Z" fill="#B67F5F"/>
    <path d="M29.5791 17.0689C29.3893 17.0689 29.1996 16.9962 29.0548 16.8507L28.3134 16.1059C28.0238 15.8149 28.0238 15.3436 28.3134 15.0527C28.603 14.7617 29.0722 14.7617 29.3618 15.0527L30.1032 15.7975C30.3928 16.0885 30.3928 16.5598 30.1032 16.8507C29.9584 16.9962 29.7688 17.0689 29.5791 17.0689Z" fill="#A06E50"/>
    <path d="M37.7346 32.7101C37.3247 32.7101 36.9932 32.3769 36.9932 31.9652V31.2204C36.9932 30.8087 37.3248 30.4756 37.7346 30.4756C38.1443 30.4756 38.476 30.8088 38.476 31.2204V31.9652C38.476 32.3769 38.1444 32.7101 37.7346 32.7101Z" fill="#A06E50"/>
    <path d="M33.2859 4.40679C33.0962 4.40679 32.9065 4.33409 32.7617 4.18861C32.472 3.89764 32.472 3.42629 32.7617 3.13541L33.5031 2.39059C33.7927 2.09962 34.2619 2.09962 34.5514 2.39059C34.8411 2.68155 34.8411 3.15291 34.5514 3.44378L33.81 4.18861C33.6653 4.334 33.4756 4.40679 33.2859 4.40679Z" fill="#A06E50"/>
    <path d="M17.1015 36.0151L16.9778 34.7223C16.8762 33.6597 16.0391 32.8193 14.9802 32.717L12.9774 32.5234C11.6545 32.3957 10.5134 33.4526 10.5345 34.7862L10.5783 37.5645C10.6056 39.2962 12.5018 40.3352 13.9711 39.4237L16.0537 38.1317C16.7762 37.6837 17.1826 36.8627 17.1015 36.0151Z" fill="#F5B97D"/>
    <path d="M7.75829 30.1296L8.5084 29.4619C9.09673 28.9383 9.17719 28.0461 8.692 27.4272L7.56184 25.9853C6.87761 25.1124 5.51448 25.2743 5.04868 26.2839L4.28713 27.9346C3.93007 28.7086 4.29141 29.6235 5.07925 29.9401L6.22077 30.399C6.74221 30.6084 7.33739 30.5042 7.75829 30.1296Z" fill="#F5B97D"/>
    <path d="M4.23152 34.1672C3.43982 34.3808 2.96931 35.1976 3.18061 35.9916C3.3919 36.7856 4.20498 37.2561 4.99668 37.0425C5.78838 36.8289 6.25889 36.0121 6.0476 35.2181C5.8363 34.4241 5.02322 33.9536 4.23152 34.1672Z" fill="#F5B97D"/>
    <path d="M37.5493 34.3862C24.8557 34.3862 14.5655 24.0486 14.5655 11.2965C14.5655 5.63154 16.5966 0.44312 19.9665 -3.57422C14.9636 0.661389 11.7852 7.0024 11.7852 14.0896C11.7852 26.8416 22.0754 37.1793 34.769 37.1793C41.8281 37.1793 48.1329 33.9941 52.3447 28.9723C48.3502 32.3521 43.1903 34.3862 37.5493 34.3862Z" fill="#E3AA75"/>
    <path d="M47.7297 -0.240341C46.486 -0.708899 45.7464 -1.99624 45.9648 -3.31235L46.2183 -4.84033L45.8713 -4.73571C45.059 -4.49083 44.4559 -3.80319 44.3164 -2.96276L44.1037 -1.68065C43.9289 -0.626913 44.521 0.403825 45.5167 0.778943L47.3998 1.48841C48.3985 1.86461 49.4796 1.4729 50.034 0.633369L47.7297 -0.240341Z" fill="#E3AA75"/>
    <path d="M57.104 1.33485C56.2851 1.33485 55.6212 0.667863 55.6212 -0.154797C55.6212 -0.347813 55.6581 -0.533433 55.7246 -0.702637C55.1749 -0.484638 54.7871 0.053461 54.7871 0.683196C54.7871 1.50586 55.451 2.17284 56.2699 2.17284C56.8968 2.17284 57.4323 1.78329 57.6493 1.23103C57.4808 1.29778 57.2961 1.33485 57.104 1.33485Z" fill="#E3AA75"/>
    <path d="M52.5286 8.2496L51.7127 6.33713C51.5594 5.97798 51.5467 5.59546 51.6395 5.24316L50.9259 5.6016C50.2237 5.95434 49.9169 6.79586 50.2262 7.52084L50.9466 9.20945C51.3827 10.2318 52.7398 10.4308 53.4486 9.57636L53.7366 9.22911C53.2271 9.12449 52.7612 8.79483 52.5286 8.2496Z" fill="#E3AA75"/>
    <path d="M25.9645 8.03778C24.3267 8.03778 22.9989 6.7039 22.9989 5.05849C22.9989 4.64639 23.0823 4.25396 23.2329 3.89697C22.1694 4.34975 21.4233 5.40781 21.4233 6.64122C21.4233 8.28663 22.7511 9.62051 24.389 9.62051C25.6166 9.62051 26.6699 8.871 27.1205 7.80265C26.7653 7.9539 26.3747 8.03778 25.9645 8.03778Z" fill="#B67F5F"/>
    <path d="M27.0306 22.6084C25.8022 22.6084 24.8064 21.608 24.8064 20.374C24.8064 20.0588 24.8728 19.7597 24.9901 19.4878C24.201 19.8311 23.6479 20.6188 23.6479 21.5377C23.6479 22.7718 24.6438 23.7722 25.8722 23.7722C26.7869 23.7722 27.571 23.2166 27.9127 22.4239C27.642 22.5416 27.3443 22.6084 27.0306 22.6084Z" fill="#B67F5F"/>
    <path d="M39.9591 26.7522C41.5969 26.7522 42.9246 25.4184 42.9246 23.7731C42.9246 22.1277 41.5969 20.7939 39.9591 20.7939C38.3213 20.7939 36.9937 22.1277 36.9937 23.7731C36.9937 25.4184 38.3213 26.7522 39.9591 26.7522Z" fill="#CD916E"/>
    <path d="M41.5344 25.1691C39.8965 25.1691 38.5687 23.8353 38.5687 22.1898C38.5687 21.7777 38.6521 21.3853 38.8027 21.0283C37.7392 21.4811 36.9932 22.5392 36.9932 23.7726C36.9932 25.418 38.3209 26.7519 39.9588 26.7519C41.1865 26.7519 42.2398 26.0023 42.6904 24.934C42.3352 25.0853 41.9445 25.1691 41.5344 25.1691Z" fill="#B67F5F"/>
    <path d="M33.9965 11.8553C34.8154 11.8553 35.4793 11.1883 35.4793 10.3656C35.4793 9.54291 34.8154 8.87598 33.9965 8.87598C33.1776 8.87598 32.5137 9.54291 32.5137 10.3656C32.5137 11.1883 33.1776 11.8553 33.9965 11.8553Z" fill="#CD916E"/>
    <path d="M34.7842 11.0641C33.9652 11.0641 33.3014 10.3971 33.3014 9.57441C33.3014 9.36832 33.3432 9.17215 33.4184 8.99365C32.8867 9.22004 32.5137 9.74912 32.5137 10.3658C32.5137 11.1884 33.1775 11.8554 33.9965 11.8554C34.6103 11.8554 35.137 11.4807 35.3623 10.9465C35.1846 11.0221 34.9893 11.0641 34.7842 11.0641Z" fill="#B67F5F"/>
    </g>
    <defs>
    <clipPath id="clip0_900_3679">
    <rect width="57.002" height="50.9992" fill="white" transform="translate(0.750488 -9)"/>
    </clipPath>
    </defs>
    </svg>
    .cookie__description
        p Cookie
        p Наш сайт использует файлы cookie для анализа и улучшения наших услуг.
    button.standard-btn.cookie__btn Принять

