@use "../functions/font";
@use "../functions/common";
@use "../variables/colors";
@use "../mixins/layout";
@use "../mixins/common" as mixins;

*, *:before, *:after {
  transition: 0.3s all ease-in-out;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: font.toRem(18);
  line-height: 1.2;
  color: colors.$text;
  height: 100%;
  background-color: white;

  @include layout.md {
    font-size: font.toRem(14);
  }

  @include layout.lg {
    font-size: font.toRem(16);
  }

  @include layout.xl {
    font-size: font.toRem(18);
  }
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: common.toRem(320);
  max-width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.logo {
  min-width: 30px;
  min-height: 25px;
}

.standard-title {
  font-weight: 700;
  font-size: font.toRem(24);
  color: colors.$title-dark;
}

.standard-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: common.toRem(15);
  box-shadow: 0px 4px 10px rgba(137, 137, 137, 0.2);
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: font.toRem(15);
  text-transform: uppercase;
  color: colors.$primary;
}

.try-free-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: common.toRem(50);
  padding: common.toRem(20);
  background: colors.$primary;
  border-radius: 10px;
  font-weight: 700;
  font-size: font.toRem(25);
  text-align: center;
  text-transform: uppercase;
  color: white;

  @include mixins.blueTextHover;

  &:hover {
    background: white;
  }
}

.contacts {
  display: flex;
  align-items: center;

  a {
    margin-right: common.toRem(40);
    color: inherit;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.quote {
  padding: common.toRem(20);
  background: colors.$primary-light;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-weight: 500;
  font-size: font.toRem(18);
  color: colors.$text;
}
