$baseFontFamily: 'Inter';
$baseFontFamilyWeights: '300,400,500,600,700';
@import url("https://fonts.googleapis.com/css?family=#{$baseFontFamily}:#{$baseFontFamilyWeights}&display=swap");

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";
  src: local("Montserrat"), local("Montserrat-Regular"),
  url("../fonts/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2"),
  url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"),
  url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype");
}
